body{
    background-color: rgba(212, 243, 209, 0.586);
}


h1{
    text-align: center;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 15rem;
    max-width: 40rem;
    margin: 1rem auto;
    padding: .5rem;
    background-color: rgba(178, 231, 161, 0.828);
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}


.caja{
    display: flex;
    flex-direction: column;
    width: 10.3rem;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

h4{
    margin-top: -1px;
}

footer{
    padding: 20px;
    text-align: center;
    width: 100%;
}

input{
    width: 6rem;
}

span{
    text-align: center;
}


@media screen and (max-width: 600px){
    h3, h4{
        font-size: smaller;
        text-align: center;
    }
}
